{% extends 'manager/base.html' %}

{% block head %}
  <title>Eastgate Estates | {{ post.title }}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <style>
    #page {
	  background-color: white;
	  margin: 0px 60px;
	  padding: 10px 20px;
	}
	.edn {
	  border: 1px solid black;
	  color: black;
	}
	#page h1 { 
	  color: black;
      font-size: 34px;
	}
	#page h3{
	  color: #287d4a;
	  font-size: 20px;
	}
	#page p {
	  color: #287d4a;
	  font-size: 18px;
	  line-height: 26px;
	}
  </style>
{% endblock %}

{% block body %}

<div id="page">
{% if user.is_authenticated %}
  <br>
  <a href="edit" class="edn">Edit</a>
  <a href="delete" class="edn">Delete</a>
  <br>
{% endif %}
  <h1>{{ post.title }}</h1>
  <h3>{{ post.description }}</h3>
  <p>{{ post.content|linebreaksbr }}</p>
</div>
{% endblock %}

{% block script %}
{% endblock %}
