{% extends "manager/base.html" %}

{% block head %}  
  <title>Contact | Eastgate Estates</title>
  <meta name="description" content="Get in touch with us">
  <meta name="keywords" content="Eastgate,contact,get in touch,email">

  <meta name="robots" content="index,follow"/>
  <style>
    #page {
	  font-size: 18px;
	  padding-top: 1px;
	  text-align: center;
	}
    h2 {
	  color: #287d4a;
	  font-size: 40px;
	}
    #contact {
	  background-color: #eaeaea;
	  margin: 0 auto;
	  padding: 10px;
	  text-align: center;
	  width: 70%;
	}
    #contact input[type=email], textarea{
	  border: none;
	  font-family: 'Helvetica', 'Arial', sans-serif;
	  font-size: 18px;
	  margin: 10px 0px;
	  outline: 2px solid #eaeaea;
	  padding: 5px 10px;
	  width: calc(100% - 24px);
	}
	#contact input[type=email]:focus, textarea:focus{
	  outline: 2px solid #287d4a;
	}
	.mybut {
	  background-color: #287d4a;
	  border: 0px;
	  color: white;
	  cursor: pointer;
	  font-size: 18px;
	  padding: 5px 10px;
	}
	.mybut:hover {
	  background-color: black;
	}
	@media screen and (min-width: 1300px){
	  #contact {
	    width: 60%;
	  }
	@media screen and (max-width: 500px) {
	  #contact {
	    width: 85%;
	  }
	}
  </style>
{% endblock %}

{% block body %}
  <div id="page">
    <h2>Get in touch</h2>
	<p>You can leave us a message here</p>
    {% if form.errors %}
        <p>Something went wrong</p>
		{{ form.errors }}
    {% endif %}
    <br>

    <form method="POST" id="contact" action="{% url 'contact' %}">
        {% csrf_token %}
		<input type="email" name="email" placeholder="Your email address" required /><br>
		<textarea name="msg" rows="10" cols="50" placeholder="Your message" required ></textarea>

        <input type="submit" value="Send" class="mybut" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
	<br>
	<p>Alternatively, call 020 8801 7000, or email us directly at info@eastgateestates.co.uk</p>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
