{% extends 'manager/base.html' %}

{% block head %}
  <title>Reviews and Testimonials | Eastgate Estates</title>
  <meta name="description" content="Read reviews and testimonials of the excellent service here at Eastgate.">
  <meta name="keywords" content="Eastgate,Estates,Reviews,Testimonials,Property,House,Flat,Apartment,Rent,London">

  <style>  
    #intro {
	  padding-top: 10px;
	  text-align: center;
	}
	.reviewbox {
	  background-color: white;
	  color: black;
	  font-size: 18px;
	  margin-left: 20px;
	  padding: 10px 20px;
	  width: calc(100% - 80px);
	}
	.reviewbox .edn {
	  border-color: black;
	  color: black;
	}
	.reviewbox .who {
	  font-weight: bold;
	}
	.reviewbox .what {
	  color: #287d4a;
	}
  </style>
{% endblock %}

{% block body %}
  <header id="intro">
    <h1>Eastgate Estates Reviews and Testimonials</h1>
	{% if user.is_authenticated %}
      <a href="new" class="edn">New Review</a>
	  <br><br>
	{% endif %}
  </header>
  {% for review in reviews %}
    <div id={{ review.pk }} class="reviewbox">
      {% if user.is_authenticated %}
        <a href="{{ review.pk }}/edit" class="edn">Edit</a>
        <a href="{{ review.pk }}/delete" class="edn">Delete</a>
	  {% endif %}	   
	  <p class="who">{{ review.name }} says:</p>
	  <p class="what">{{ review.content }}</p>
	</div>
	<br>
  {% empty %}
    <p>Sorry, there are no reviews added yet</p>
  {% endfor %}	
{% endblock %}

{% block script %}
{% endblock %}
