{% extends 'manager/base.html' %}

{% block head %}
  <title>Eastgate Estates Frequently Asked Questions</title>
  <meta name="description" content="Read answers to the most frequently asked questions about Eastgate Estates and our properties">
  <meta name="keywords" content="FAQ,Questions,Eastgate,Estates,Property,London,North London,East London">

  <style>  
    #intro {
	  padding-top: 10px;
	  text-align: center;
	}
	.faqbox {
	  padding: 40px 20px 0px 20px;
	}
	.faqbox p{
	  font-size: 18px;
	}
	.question {
	  color: #287d4a;
	  font-weight: bold;
	}
  </style>
{% endblock %}

{% block body %}
  <header id="intro">
    <h1>Eastgate Estates Frequently Asked Questions</h1>
	{% if user.is_authenticated %}
      <a href="new" class="edn">New FAQ</a>
	{% endif %}
  </header>
  {% for faq in faqs %}
    <div id="{{ faq.pk }}" class="faqbox">
      {% if user.is_authenticated %}
        <a href="{{ faq.pk }}/edit" class="edn">Edit</a>
        <a href="{{ faq.pk }}/delete" class="edn">Delete</a>
	  {% endif %}	   
	  <p class="question">{{ faq.question }}</p>
	  <p>{{ faq.answer }}</p>
	</div>	  
  {% endfor %}
{% endblock %}

{% block script %}
{% endblock %}
