{% extends 'manager/base.html' %}

{% block head %}
  <title>Available Properties | Eastgate Estates</title>
  <meta name="description" content="View our latest properties available to rent">
  <meta name="keywords" content="flat,flats,apartment,apartments,property,properties,rent">

  <style>  
    #intro {
	  text-align: center;
	}
    .postbox {
	  border-bottom: 2px solid #287d4a;
	  font-size: 18px;
	  height: 150px;
	  line-height: 1.1;
	  overflow: hidden;
	  padding: 20px 10px;
	}
	.postbox .img-link {
	  display: block;
	  float: left;
	  height: 150px;
	  width: 150px;
	}
	.postbox .edn {
	  float: right;
	}
	@media screen and (max-width: 700px){
	  .postbox {
	    height: 300px;
	  }
	  .postbox .img-link, .edn {
	    float: none !important;
	  }
	}
  </style>
{% endblock %}

{% block body %}
  <header id="intro">
    <br>
    <h1>Eastgate Estates Available Properties</h1>
	{% if user.is_authenticated %}
      <a class="edn" href="new">New post</a>
	{% endif %}
  </header>
  <div id="container">
    <hr>
    {% for prop in posts %}
      <div class="postbox">
        <a class="img-link" href="{{ prop.pk }}"><img src={ prop.photo.url }</img></a>
        <p>Monthly Rent: £{{ prop.rent }}{% if user.is_authenticated %} | Property available: {{ prop.available }}{% endif %}
        {% if user.is_authenticated %}
          <a class="edn" href="{{ prop.pk }}/edit">Edit</a>
          <a class="edn" href="{{ prop.pk }}/delete">Delete</a>
	    {% endif %}
		</p>
	    <p>{{ prop.description|truncatechars:350 }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block script %}
{% endblock %}
