{% extends 'manager/base.html' %}

{% block head %}
  <title>Blog</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <style>  
    

  </style>
{% endblock %}

{% block body %}
  <header id="intro">
    <h1>Eastgate Estates Latest News and Guidance</h1>
    <p>Hey there this is filler text because somene needs to decide what to say</p>
	{% if user.is_authenticated %}
      <a href="new">New post</a>
	{% endif %}
  </header>
  <div id="container">
    {% for prop in posts %}
      <div class="postbox">
        {% if user.is_authenticated %}
          <a href="{{ prop.pk }}/edit">Edit</a>
          <a href="{{ prop.pk }}/delete">Delete</a>
		  <p>Property available: {{ prop.available }}</p>
	    {% endif %}
		{% load static %}
        <!--<a href="{{ prop.pk }}"><img src={ prop.photo.url }</img></a>-->
	    <p>{{ prop.description }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block script %}
{% endblock %}
